*{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid rgb(126, 121, 121);
    padding-bottom: 20px;
}

p{
    display: inline;
}

h1 , h3{
    display: flex;
    align-items: center;
    justify-content: center;
}



h1{
    font-size: 30px;
}
h3{
    font-size: 15px;
}

img{
    border: solid black 2px;
    border-radius: 50px;
    margin: 0px 20px;
}